In [35]:
import numpy as np
import pandas as pd
df=pd.read_csv("D:\datascience/train-data.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [36]:
df.shape

(6019, 14)

In [37]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0                              Name    Location  Year  \
0              0            Maruti Wagon R LXI CNG      Mumbai  2010
1              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2              2                      Honda Jazz V     Chennai  2011
3              3                 Maruti Ertiga VDI     Chennai  2012
4              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
...          ...                               ...         ...   ...
6014        6014                  Maruti Swift VDI       Delhi  2014
6015        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
6016        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
6017        6017                Maruti Wagon R VXI     Kolkata  2013
6018        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 72000       CNG       Manual      First  26.6 km/kg
1                 41000    Diesel       Manual      First  19.67 kmpl
2                 46000    Petrol       Manual      First   18.2 kmpl
3                 87000    Diesel       Manual      First  20.77 kmpl
4                 40670    Diesel    Automatic     Second   15.2 kmpl
...                 ...       ...          ...        ...         ...
6014              27365    Diesel       Manual      First   28.4 kmpl
6015             100000    Diesel       Manual      First   24.4 kmpl
6016              55000    Diesel       Manual     Second   14.0 kmpl
6017              46000    Petrol       Manual      First   18.9 kmpl
6018              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0      998 CC  58.16 bhp    5.0        NaN   1.75
1     1582 CC  126.2 bhp    5.0        NaN  12.50
2     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
3     1248 CC  88.76 bhp    7.0        NaN   6.00
4     1968 CC  140.8 bhp    5.0        NaN  17.74
...       ...        ...    ...        ...    ...
6014  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
6015  1120 CC     71 bhp    5.0        NaN   4.00
6016  2498 CC    112 bhp    8.0        NaN   2.90
6017   998 CC   67.1 bhp    5.0        NaN   2.65
6018   936 CC   57.6 bhp    5.0        NaN   2.50

[6019 rows x 14 columns]>

In [38]:
df['Name'].value_counts()

Mahindra XUV500 W8 2WD           49
Maruti Swift VDI                 45
Honda City 1.5 S MT              34
Maruti Swift Dzire VDI           34
Maruti Swift VDI BSIV            31
                                 ..
Ford Fiesta Titanium 1.5 TDCi     1
Mahindra Scorpio S10 AT 4WD       1
Hyundai i20 1.2 Era               1
Toyota Camry W4 (AT)              1
Mahindra Xylo D4 BSIV             1
Name: Name, Length: 1878, dtype: int64

In [39]:
df['Location'].value_counts()

Mumbai        790
Hyderabad     742
Kochi         651
Coimbatore    636
Pune          622
Delhi         554
Kolkata       535
Chennai       494
Jaipur        413
Bangalore     358
Ahmedabad     224
Name: Location, dtype: int64

In [40]:
df['Fuel_Type'].value_counts()

Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64

In [41]:
df['Transmission'].value_counts()

Manual       4299
Automatic    1720
Name: Transmission, dtype: int64

In [42]:
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [43]:
#encoding
#get_dumies
dummy=pd.get_dummies(df[['Location','Fuel_Type','Transmission','Owner_Type']],drop_first=True)
dummy

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0
6015,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0
6016,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0
6017,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
6018,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0

In [44]:
#concatination
dfe=pd.concat([df,dummy],axis=1)
dfe

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,...,1,0,0,0,0,0,1,0,0,0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,...,0,1,1,0,0,0,1,0,0,0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,...,0,0,0,0,0,1,1,0,0,0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,...,0,0,1,0,0,0,1,0,0,0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,...,0,0,1,0,0,0,1,0,0,0
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,...,0,0,1,0,0,0,1,0,0,0
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,...,0,0,1,0,0,0,1,0,1,0
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,...,0,0,0,0,0,1,1,0,0,0
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,...,0,0,1,0,0,0,1,0,0,0

In [45]:
dfe=dfe.drop(['Name','Location','Fuel_Type','Transmission','Owner_Type','New_Price'],axis=1)
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [49]:
#remove symbols or data

dfe['Mileage']=dfe['Mileage'].str.replace('kmpl','')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74 bhp,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71 bhp,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112 bhp,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1 bhp,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6 bhp,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [50]:
dfe['Mileage']=dfe['Mileage'].str.replace('km/kg','')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16 bhp,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74 bhp,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71 bhp,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112 bhp,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1 bhp,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6 bhp,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [51]:
dfe['Engine']=dfe['Engine'].str.replace('cc','')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16 bhp,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74 bhp,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71 bhp,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112 bhp,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1 bhp,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6 bhp,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [52]:
dfe['Power']=dfe['Power'].str.replace('bhp','')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [55]:
dfe['Mileage']=dfe['Mileage'].str.replace('null','0')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [56]:
dfe['Engine']=dfe['Engine'].str.replace('null','0')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [57]:
dfe['Power']=dfe['Power'].str.replace('null','0')
dfe

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,2010,72000,26.6,998 CC,58.16,5.0,1.75,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,2015,41000,19.67,1582 CC,126.2,5.0,12.50,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2,2011,46000,18.2,1199 CC,88.7,5.0,4.50,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3,2012,87000,20.77,1248 CC,88.76,7.0,6.00,0,1,...,0,0,1,0,0,0,1,0,0,0
4,4,2013,40670,15.2,1968 CC,140.8,5.0,17.74,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,28.4,1248 CC,74,5.0,4.75,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,6015,2015,100000,24.4,1120 CC,71,5.0,4.00,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,6016,2012,55000,14.0,2498 CC,112,8.0,2.90,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,6017,2013,46000,18.9,998 CC,67.1,5.0,2.65,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,6018,2011,47000,25.44,936 CC,57.6,5.0,2.50,0,0,...,0,0,1,0,0,0,1,0,0,0

In [58]:
dfe.dtypes

Unnamed: 0                     int64
Year                           int64
Kilometers_Driven              int64
Mileage                       object
Engine                        object
Power                         object
Seats                        float64
Price                        float64
Location_Bangalore             uint8
Location_Chennai               uint8
Location_Coimbatore            uint8
Location_Delhi                 uint8
Location_Hyderabad             uint8
Location_Jaipur                uint8
Location_Kochi                 uint8
Location_Kolkata               uint8
Location_Mumbai                uint8
Location_Pune                  uint8
Fuel_Type_Diesel               uint8
Fuel_Type_Electric             uint8
Fuel_Type_LPG                  uint8
Fuel_Type_Petrol               uint8
Transmission_Manual            uint8
Owner_Type_Fourth & Above      uint8
Owner_Type_Second              uint8
Owner_Type_Third               uint8
dtype: object

In [59]:
dfe['Mileage']=dfe['Mileage'].astype('float')
dfe['Power']=dfe['Power'].astype('float')
dfe['Engine']=dfe['Power'].astype('float')
dfe.dtypes

Unnamed: 0                     int64
Year                           int64
Kilometers_Driven              int64
Mileage                      float64
Engine                       float64
Power                        float64
Seats                        float64
Price                        float64
Location_Bangalore             uint8
Location_Chennai               uint8
Location_Coimbatore            uint8
Location_Delhi                 uint8
Location_Hyderabad             uint8
Location_Jaipur                uint8
Location_Kochi                 uint8
Location_Kolkata               uint8
Location_Mumbai                uint8
Location_Pune                  uint8
Fuel_Type_Diesel               uint8
Fuel_Type_Electric             uint8
Fuel_Type_LPG                  uint8
Fuel_Type_Petrol               uint8
Transmission_Manual            uint8
Owner_Type_Fourth & Above      uint8
Owner_Type_Second              uint8
Owner_Type_Third               uint8
dtype: object